.custom-select:hover {
  background-color: var(--button-hover-secondary) !important;
}

.dropdown-button {
  color: var(--text-bold);
}

.arrow-up {
  transform: rotate(180deg);
}

.toggle-menu {
  z-index: 99;
  background-color: var(--background);
}

.check-button {
  color: var(--text-bold);
  font-size: 17px;
  width: 200px;
}

.check-button input {
  width: 20px;
  height: 20px;
  accent-color: var(--success);
}

.filter-input-container input {
  border: 1px solid #808A93;
  width: 160px;
  height: 42px;
  font-size: 17px;
}

.filter-input-field {
  outline: none;
}

.select-button {
  border: 1px solid #808A93;
}

.select-button span {
  color: #808A93;
  opacity: 0.4;
}

.select-button.selected {
  color: var(--text-bold);
  border-color: var(--primary);
}

.select-button.selected span {
  color: var(--text-bold);
  opacity: 1;
}

.text-subtext {
  font-size: 0.8rem;
}